<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:security="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en">

<title>Spring Security</title>

</head>
<body>

	<div class="container">
		<div th:fragment="roles">
			<h2>Index Page</h2>
			<p>Anyone may access this page.</p>

			<h3>User Details</h3>
			<table class="table table-striped">
				<tr>
					<th>Username</th>
					<th>Roles</th>
				</tr>
				<tr>
					<td th:text="${username}"></td>
					<td th:text="${roles}"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>