<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Security Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div>
        <h2>User Page</h2>
        <p>This page is accessible for users. The user must be logged in.</p>
    </div>
    <!--/*/ <th:block th:include="fragments/roles :: roles"></th:block> /*/-->
</div>

</body>
</html>